@tailwind base;
@tailwind components;
@tailwind utilities;

.innerCard {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

#wrong {
    background-color: red;
}
  
#correct {
    background-color: green;
}